@model List<Product>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
           <h2 class="text-primary">Books List!</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i>Add Book
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table id="tblTable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th>title</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th> Price</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}
    
